section.auth{
    max-width: 200px;
    margin: 0 auto;
}
.auth-inp{
    margin: 20px 0;
}
.auth_btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.auth_btns a{
    width: 45%;
}
.auth_btn{
    width: 100%;
}
.valid{
    border-color: red;
<<<<<<< HEAD
}
.validate{
    color: red;
    margin-top: 20px;
    text-align: center;
=======
>>>>>>> 0bbb1f44a4d6fd8db1252abac252f133f7372b74
}