<div class="content">
  <section *ngIf="!user" class="auth"> 
    <h2>Authorization</h2>
    <input class="form-control auth-inp" placeholder="name" #userName>
    <input class="form-control auth-inp" placeholder="password">
    <div class="auth_btns">
      <a (click)="auth(userName)" href="javascript:void(0)"><button class="btn btn-success auth_btn">Sign in</button></a>
      <a routerLink="/signup"><button class="btn btn-info auth_btn">Sign up</button></a>
    </div>
  </section>  
  <section *ngIf="user">
    complete
  </section>
</div>
<ng-content selector='h1'></ng-content>
