section.auth{
    max-width: 200px;
    margin: 0 auto;
}
.auth_btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.valid{
    border-color: red;
}
.validate{
    margin-top: 20px;
    text-align: center;
    color: red;
}
.success{
    color: green;
    margin-top: 20px;
    text-align: center;
}