<h1 align='center'>Signup</h1>
  <div class="form-group">
    <label for="name">Name</label>
    <input [class.valid]="validName === false" type="text" class="form-control" #name>
  </div>
  <div class="form-group">
    <label for="login">Login:</label>
    <input [class.valid]="validLogin === false" type="text" class="form-control" #login>
  </div>
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" [class.valid]="validEmail === false" class="form-control" #email>
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" [class.valid]="validPwd === false" class="form-control" #pwd>
  </div>
  <button class="btn btn-success" (click)="signUp(name, login, email, pwd)" >Sign up!</button>