section.auth{
    max-width: 200px;
    margin: 50px 40px;
}
.auth_btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.auth_btns a{
    width: 45%;
}
.auth_btn{
    width: 100%;
}